google-serp/workflows/serp_status.json
{"updatedAt":"2026-03-04T06:56:46.531Z","createdAt":"2026-03-04T06:56:46.531Z","id":"riBJdxE0JMR49vFM","name":"SERP Status","description":null,"active":true,"isArchived":false,"nodes":[{"id":"ca407ee1-e9b7-42d3-a2ed-8760103d88d1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"GET","path":"serp/status","responseMode":"responseNode","options":{}}},{"id":"905685e9-0f3d-46c0-a4d7-c787b1d969a2","name":"Job Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"SELECT j.id, j.name, j.status, j.lang, j.country, j.num_results,\n  j.total_keywords, j.completed_keywords, j.failed_keywords,\n  j.created_at, j.started_at, j.completed_at,\n  c.slug as client_slug, c.name as client_name,\n  COUNT(t.id) FILTER (WHERE t.status='pending') as pending,\n  COUNT(t.id) FILTER (WHERE t.status='running') as running,\n  COUNT(t.id) FILTER (WHERE t.status='completed') as completed,\n  COUNT(t.id) FILTER (WHERE t.status='failed') as failed,\n  ROUND(CASE WHEN j.total_keywords > 0 THEN COUNT(t.id) FILTER (WHERE t.status='completed') * 100.0 / j.total_keywords ELSE 0 END, 1) as progress_pct\nFROM seo_kws.jobs j\nJOIN seo_kws.clients c ON c.id = j.client_id\nLEFT JOIN seo_kws.tasks t ON t.job_id = j.id\nWHERE j.id = {{ $json.query.job_id }}\nGROUP BY j.id, c.slug, c.name","options":{}}},{"id":"b9c50417-e3e2-49c7-9895-e2f058ab43ba","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,0],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Job Status","type":"main","index":0}]]},"Job Status":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f2e2ed1b-78d3-45c0-bbec-29cc565e5120","activeVersionId":"f2e2ed1b-78d3-45c0-bbec-29cc565e5120","versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T06:56:46.531Z","createdAt":"2026-03-04T06:56:46.531Z","role":"workflow:owner","workflowId":"riBJdxE0JMR49vFM","projectId":"s2zyPGgXOuJv1Eci","project":{"updatedAt":"2025-10-14T15:33:51.020Z","createdAt":"2025-10-14T15:30:12.192Z","id":"s2zyPGgXOuJv1Eci","name":"Adam schlesien <adamschlesien@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"04a9ce56-328e-4464-a249-dfc71d9b46e2","projectRelations":[{"updatedAt":"2025-10-14T15:30:12.192Z","createdAt":"2025-10-14T15:30:12.192Z","userId":"04a9ce56-328e-4464-a249-dfc71d9b46e2","projectId":"s2zyPGgXOuJv1Eci","user":{"updatedAt":"2026-03-07T19:58:28.980Z","createdAt":"2025-10-14T15:30:10.793Z","id":"04a9ce56-328e-4464-a249-dfc71d9b46e2","email":"adamschlesien@gmail.com","firstName":"Adam","lastName":"schlesien","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-14T15:34:38.247Z","personalization_survey_n8n_version":"1.115.2","companySize":"<20","companyType":"digital-agency","automationGoalSm":["lead-generation","customer-communication","ad-campaign","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"twitter"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"gygXHcbW1QwGEbCF","userActivatedAt":1760469728899,"npsSurvey":{"responded":true,"lastShownAt":1760732140903},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T06:56:46.541Z","createdAt":"2026-03-04T06:56:46.541Z","versionId":"f2e2ed1b-78d3-45c0-bbec-29cc565e5120","workflowId":"riBJdxE0JMR49vFM","nodes":[{"id":"ca407ee1-e9b7-42d3-a2ed-8760103d88d1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"GET","path":"serp/status","responseMode":"responseNode","options":{}}},{"id":"905685e9-0f3d-46c0-a4d7-c787b1d969a2","name":"Job Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"SELECT j.id, j.name, j.status, j.lang, j.country, j.num_results,\n  j.total_keywords, j.completed_keywords, j.failed_keywords,\n  j.created_at, j.started_at, j.completed_at,\n  c.slug as client_slug, c.name as client_name,\n  COUNT(t.id) FILTER (WHERE t.status='pending') as pending,\n  COUNT(t.id) FILTER (WHERE t.status='running') as running,\n  COUNT(t.id) FILTER (WHERE t.status='completed') as completed,\n  COUNT(t.id) FILTER (WHERE t.status='failed') as failed,\n  ROUND(CASE WHEN j.total_keywords > 0 THEN COUNT(t.id) FILTER (WHERE t.status='completed') * 100.0 / j.total_keywords ELSE 0 END, 1) as progress_pct\nFROM seo_kws.jobs j\nJOIN seo_kws.clients c ON c.id = j.client_id\nLEFT JOIN seo_kws.tasks t ON t.job_id = j.id\nWHERE j.id = {{ $json.query.job_id }}\nGROUP BY j.id, c.slug, c.name","options":{}}},{"id":"b9c50417-e3e2-49c7-9895-e2f058ab43ba","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,0],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Job Status","type":"main","index":0}]]},"Job Status":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Adam schlesien","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T06:56:46.800Z","id":194,"workflowId":"riBJdxE0JMR49vFM","versionId":"f2e2ed1b-78d3-45c0-bbec-29cc565e5120","event":"activated","userId":"04a9ce56-328e-4464-a249-dfc71d9b46e2"}]}}