google-serp/workflows/serp_ingest.json
{"updatedAt":"2026-03-04T06:56:45.420Z","createdAt":"2026-03-04T06:56:45.420Z","id":"wGSmmWIGdUcnf2i4","name":"SERP Ingest","description":null,"active":true,"isArchived":false,"nodes":[{"id":"76c69b86-f0a8-4318-8b6b-ccb70fcd095c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"serp/ingest","responseMode":"responseNode","options":{}}},{"id":"ff7b8ee4-67d8-41df-8a16-63688731d5ba","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst keywords = body.keywords;\nconst client = body.client;\nif (!client || typeof client !== 'string' || !client.trim()) throw new Error('Missing: client');\nif (!Array.isArray(keywords) || keywords.length === 0) throw new Error('Missing: keywords array');\nconst kws = [...new Set(keywords.map(k => String(k).trim()).filter(k => k))];\nreturn [{ json: {\n  client: client.trim(),\n  client_name: body.client_name || client.trim(),\n  job_name: body.job_name || ('SERP ' + new Date().toISOString().slice(0,10)),\n  keywords: kws,\n  lang: body.lang || 'cs',\n  country: body.country || 'cz',\n  num: parseInt(body.num || 10),\n  keyword_count: kws.length\n}}];"}},{"id":"75297800-0aab-4211-b17f-ca32ecc50ed4","name":"Upsert Client","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO seo_kws.clients (slug, name) VALUES ('{{ $json.client }}', '{{ $json.client_name }}') ON CONFLICT (slug) DO UPDATE SET name = EXCLUDED.name RETURNING id","options":{}}},{"id":"1ee7662b-fbde-4ea4-9aad-88cfd043f65b","name":"Create Job","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO seo_kws.jobs (client_id, name, lang, country, num_results, total_keywords, status) VALUES ({{ $(\"Upsert Client\").first().json.id }}, '{{ $(\"Validate\").first().json.job_name }}', '{{ $(\"Validate\").first().json.lang }}', '{{ $(\"Validate\").first().json.country }}', {{ $(\"Validate\").first().json.num }}, {{ $(\"Validate\").first().json.keyword_count }}, 'pending') RETURNING id","options":{}}},{"id":"f3184802-9bee-4e79-a55b-b9dd00fbad1a","name":"Prepare Tasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"parameters":{"jsCode":"const jobId = $('Create Job').first().json.id;\nconst keywords = $('Validate').first().json.keywords;\nconst values = keywords.map(kw => `(${jobId}, '${kw.replace(/'/g, \"''\")}')`).join(',');\nconst sql = `INSERT INTO seo_kws.tasks (job_id, keyword) VALUES ${values} ON CONFLICT (job_id, keyword) DO NOTHING`;\nreturn [{ json: {\n  sql, job_id: jobId,\n  task_count: keywords.length,\n  client_id: $('Upsert Client').first().json.id\n}}];"}},{"id":"23909674-866d-404f-8fca-a057f2672fcf","name":"Insert Tasks","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}}},{"id":"8805ccef-f893-4ced-82f4-f26d2ea5dfef","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,0],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ job_id: $('Prepare Tasks').first().json.job_id, task_count: $('Prepare Tasks').first().json.task_count, client_id: $('Prepare Tasks').first().json.client_id, status: 'queued' }) }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},"Validate":{"main":[[{"node":"Upsert Client","type":"main","index":0}]]},"Upsert Client":{"main":[[{"node":"Create Job","type":"main","index":0}]]},"Create Job":{"main":[[{"node":"Prepare Tasks","type":"main","index":0}]]},"Prepare Tasks":{"main":[[{"node":"Insert Tasks","type":"main","index":0}]]},"Insert Tasks":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"acecd181-c06f-4590-9a17-8fe7b8564de7","activeVersionId":"acecd181-c06f-4590-9a17-8fe7b8564de7","versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T06:56:45.420Z","createdAt":"2026-03-04T06:56:45.420Z","role":"workflow:owner","workflowId":"wGSmmWIGdUcnf2i4","projectId":"s2zyPGgXOuJv1Eci","project":{"updatedAt":"2025-10-14T15:33:51.020Z","createdAt":"2025-10-14T15:30:12.192Z","id":"s2zyPGgXOuJv1Eci","name":"Adam schlesien <adamschlesien@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"04a9ce56-328e-4464-a249-dfc71d9b46e2","projectRelations":[{"updatedAt":"2025-10-14T15:30:12.192Z","createdAt":"2025-10-14T15:30:12.192Z","userId":"04a9ce56-328e-4464-a249-dfc71d9b46e2","projectId":"s2zyPGgXOuJv1Eci","user":{"updatedAt":"2026-03-07T19:58:28.980Z","createdAt":"2025-10-14T15:30:10.793Z","id":"04a9ce56-328e-4464-a249-dfc71d9b46e2","email":"adamschlesien@gmail.com","firstName":"Adam","lastName":"schlesien","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-14T15:34:38.247Z","personalization_survey_n8n_version":"1.115.2","companySize":"<20","companyType":"digital-agency","automationGoalSm":["lead-generation","customer-communication","ad-campaign","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"twitter"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"gygXHcbW1QwGEbCF","userActivatedAt":1760469728899,"npsSurvey":{"responded":true,"lastShownAt":1760732140903},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T06:56:45.435Z","createdAt":"2026-03-04T06:56:45.435Z","versionId":"acecd181-c06f-4590-9a17-8fe7b8564de7","workflowId":"wGSmmWIGdUcnf2i4","nodes":[{"id":"76c69b86-f0a8-4318-8b6b-ccb70fcd095c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"serp/ingest","responseMode":"responseNode","options":{}}},{"id":"ff7b8ee4-67d8-41df-8a16-63688731d5ba","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst keywords = body.keywords;\nconst client = body.client;\nif (!client || typeof client !== 'string' || !client.trim()) throw new Error('Missing: client');\nif (!Array.isArray(keywords) || keywords.length === 0) throw new Error('Missing: keywords array');\nconst kws = [...new Set(keywords.map(k => String(k).trim()).filter(k => k))];\nreturn [{ json: {\n  client: client.trim(),\n  client_name: body.client_name || client.trim(),\n  job_name: body.job_name || ('SERP ' + new Date().toISOString().slice(0,10)),\n  keywords: kws,\n  lang: body.lang || 'cs',\n  country: body.country || 'cz',\n  num: parseInt(body.num || 10),\n  keyword_count: kws.length\n}}];"}},{"id":"75297800-0aab-4211-b17f-ca32ecc50ed4","name":"Upsert Client","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO seo_kws.clients (slug, name) VALUES ('{{ $json.client }}', '{{ $json.client_name }}') ON CONFLICT (slug) DO UPDATE SET name = EXCLUDED.name RETURNING id","options":{}}},{"id":"1ee7662b-fbde-4ea4-9aad-88cfd043f65b","name":"Create Job","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO seo_kws.jobs (client_id, name, lang, country, num_results, total_keywords, status) VALUES ({{ $(\"Upsert Client\").first().json.id }}, '{{ $(\"Validate\").first().json.job_name }}', '{{ $(\"Validate\").first().json.lang }}', '{{ $(\"Validate\").first().json.country }}', {{ $(\"Validate\").first().json.num }}, {{ $(\"Validate\").first().json.keyword_count }}, 'pending') RETURNING id","options":{}}},{"id":"f3184802-9bee-4e79-a55b-b9dd00fbad1a","name":"Prepare Tasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"parameters":{"jsCode":"const jobId = $('Create Job').first().json.id;\nconst keywords = $('Validate').first().json.keywords;\nconst values = keywords.map(kw => `(${jobId}, '${kw.replace(/'/g, \"''\")}')`).join(',');\nconst sql = `INSERT INTO seo_kws.tasks (job_id, keyword) VALUES ${values} ON CONFLICT (job_id, keyword) DO NOTHING`;\nreturn [{ json: {\n  sql, job_id: jobId,\n  task_count: keywords.length,\n  client_id: $('Upsert Client').first().json.id\n}}];"}},{"id":"23909674-866d-404f-8fca-a057f2672fcf","name":"Insert Tasks","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}}},{"id":"8805ccef-f893-4ced-82f4-f26d2ea5dfef","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,0],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ job_id: $('Prepare Tasks').first().json.job_id, task_count: $('Prepare Tasks').first().json.task_count, client_id: $('Prepare Tasks').first().json.client_id, status: 'queued' }) }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},"Validate":{"main":[[{"node":"Upsert Client","type":"main","index":0}]]},"Upsert Client":{"main":[[{"node":"Create Job","type":"main","index":0}]]},"Create Job":{"main":[[{"node":"Prepare Tasks","type":"main","index":0}]]},"Prepare Tasks":{"main":[[{"node":"Insert Tasks","type":"main","index":0}]]},"Insert Tasks":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Adam schlesien","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T06:56:45.712Z","id":193,"workflowId":"wGSmmWIGdUcnf2i4","versionId":"acecd181-c06f-4590-9a17-8fe7b8564de7","event":"activated","userId":"04a9ce56-328e-4464-a249-dfc71d9b46e2"}]}}