google-serp/workflows/serp_worker.json
{"updatedAt":"2026-03-04T22:41:38.162Z","createdAt":"2026-03-04T07:19:40.103Z","id":"jxu27Vsk85uAuMVH","name":"SERP Worker","description":null,"active":true,"isArchived":false,"nodes":[{"id":"cdf2d771-fc13-432f-91b9-ca83faf288bc","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":30}]}}},{"id":"376dd1b6-f4c3-4026-9c6e-60a56f63b70c","name":"Lock Task","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.tasks t\nSET status = 'running', attempts = attempts + 1\nWHERE id = (\n  SELECT t2.id FROM seo_kws.tasks t2\n  JOIN seo_kws.jobs j ON j.id = t2.job_id\n  WHERE t2.status = 'pending' AND t2.attempts < 3 AND j.status != 'paused'\n  ORDER BY t2.id LIMIT 1\n)\nRETURNING t.id, t.keyword, t.job_id, t.attempts,\n  (SELECT lang FROM seo_kws.jobs WHERE id = t.job_id) as lang,\n  (SELECT country FROM seo_kws.jobs WHERE id = t.job_id) as country,\n  (SELECT num_results FROM seo_kws.jobs WHERE id = t.job_id) as num_results,\n  (SELECT client_id FROM seo_kws.jobs WHERE id = t.job_id) as client_id","options":{}}},{"id":"7c1814c8-1c9e-4a6a-ad7c-a5bbd64f1948","name":"Has Task","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"a15c7469-49f9-4037-a232-cc65e007f26d","name":"Call SERP","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-100],"parameters":{"jsCode":"const task = $('Lock Task').first().json;\nconst engines = ['google', 'bing', 'duckduckgo', 'brave'];\nlet finalResult = null;\nlet usedEngine = null;\n\nfor (const engine of engines) {\n  try {\n    const response = await $helpers.httpRequest({\n      method: 'GET',\n      url: 'http://searxng:8080/search',\n      qs: {\n        q: task.keyword,\n        format: 'json',\n        engines: engine,\n        language: task.lang || 'cs-CZ'\n      },\n      timeout: 10000,\n      json: true\n    });\n    \n    if (response && Array.isArray(response.results) && response.results.length > 0) {\n      finalResult = response;\n      usedEngine = engine;\n      break;\n    }\n  } catch (error) {\n    console.log(`Engine ${engine} failed:`, error.message);\n  }\n}\n\nif (!finalResult) {\n  return [{ json: { error: 'All engines failed or returned empty results', results: [] } }];\n}\nfinalResult.used_engine = usedEngine;\nreturn [{ json: finalResult }];"}},{"id":"21f5acaf-ff19-420e-81d2-031860e7dd3c","name":"Parse Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-100],"parameters":{"jsCode":"// Parsujeme json odpověď od SearxNG\nconst r = $input.first().json;\nconst task = $('Lock Task').first().json;\n\n// Ujistíme se testem, že searxNG našel výsledky bez chyby\nconst ok = Array.isArray(r.results) && r.results.length > 0;\n\nconst esc = v => v == null ? null : String(v).replace(/'/g, \"''\").substring(0, 500);\nconst escUrl = v => v == null ? null : String(v).replace(/'/g, \"''\").substring(0, 2000);\n\n// Iterujeme přes pole results přicházejících ze SearxNG\nconst organic = ok ? r.results.map((o, index) => ({\n  ...task, \n  position: index + 1, \n  title: esc(o.title), \n  description: String(o.content||'').replace(/'/g,\"''\").substring(0,1000), \n  url: escUrl(o.url)\n})) : [];\n\n// PAA nebývá v SearxNG JSON odpovědích snadno generováno z Googlu (často null).\nconst paa = []; \n// Related / Návrhy SearxNG ale umí napojit z pole suggestions\nconst related = ok ? (r.suggestions||[]).map((s, i) => ({\n  ...task, position: i+1, query: esc(s)\n})) : [];\n\n// Zpráva chyby, pokud Google neodpověděl jak měl \nconst errMsg = ok ? null : (r.unresponsive_engines && r.unresponsive_engines.length > 0 ? \"Všechny enginy selhaly\" : (r.error || \"empty results\"));\nconst used_engine = r.used_engine || null;\n\nreturn [{\n  json: {\n    task_id: task.id, job_id: task.job_id, client_id: task.client_id,\n    keyword: task.keyword, attempts: task.attempts,\n    is_success: ok, error: errMsg,\n    engine: used_engine,\n    organic, paa, related\n  }\n}];"}},{"id":"19c8a81f-cd13-414d-a195-577a799d13f6","name":"OK or Error","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,-100],"parameters":{"mode":"expression","output":"={{ $json.is_success ? 0 : 1 }}","options":{}}},{"id":"57b7e8e4-17ed-406a-ab06-7ad4c84c28dc","name":"Build SQLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-250],"parameters":{"jsCode":"const d = $input.first().json;\nconst esc = v => v == null ? 'NULL' : `'${v}'`;\nlet oSql = 'SELECT 1';\nif (d.organic && d.organic.length > 0) {\n  const v = d.organic.map(r => `(${r.id},${r.job_id},${r.client_id||'NULL'},${esc(r.keyword)},${r.position},${esc(r.title)},${esc(r.description)},${esc(r.url)},${esc(d.engine)},NOW())`).join(',');\n  oSql = `INSERT INTO seo_kws.serp_organic (task_id,job_id,client_id,keyword,position,title,description,url,engine,scraped_at) VALUES ${v}`;\n}\nlet pSql = 'SELECT 1';\nif (d.paa && d.paa.length > 0) {\n  const v = d.paa.map(r => `(${r.id},${r.job_id},${r.client_id||'NULL'},${esc(r.keyword)},${r.position},${esc(r.question)},${esc(d.engine)},NOW())`).join(',');\n  pSql = `INSERT INTO seo_kws.serp_paa (task_id,job_id,client_id,keyword,position,question,engine,scraped_at) VALUES ${v}`;\n}\nlet rSql = 'SELECT 1';\nif (d.related && d.related.length > 0) {\n  const v = d.related.map(r => `(${r.id},${r.job_id},${r.client_id||'NULL'},${esc(r.keyword)},${r.position},${esc(r.query)},${esc(d.engine)},NOW())`).join(',');\n  rSql = `INSERT INTO seo_kws.serp_related (task_id,job_id,client_id,keyword,position,query,engine,scraped_at) VALUES ${v}`;\n}\nreturn [{json: {...d, o_sql:oSql, p_sql:pSql, r_sql:rSql}}];"}},{"id":"8c93ba1f-de47-44df-879f-8f737c13a307","name":"Ins Organic","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-350],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"={{ $json.o_sql }}","options":{}}},{"id":"7b6dfe08-d936-4658-a754-f2a7afc89f4b","name":"Ins PAA","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-200],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"={{ $json.p_sql }}","options":{}}},{"id":"5bec9847-14a0-44d3-8ee5-6b587af4bd21","name":"Ins Related","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-50],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"={{ $json.r_sql }}","options":{}}},{"id":"00549092-106e-49b9-aad6-84bffcd6437a","name":"Mark Done","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,-200],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.tasks SET status = 'completed', scraped_at = NOW() WHERE id = {{ $('Build SQLs').first().json.task_id }}","options":{}}},{"id":"3f40210a-e548-4b05-884b-bb5dd8b78361","name":"Stats OK","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,-200],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.jobs j SET\n  completed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='completed'),\n  failed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed'),\n  status = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0\n      AND (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed')>0 THEN 'failed'\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN 'completed'\n    ELSE 'running'\n  END,\n  started_at = COALESCE(j.started_at, NOW()),\n  completed_at = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN NOW()\n    ELSE NULL END\nWHERE j.id = {{ $('Lock Task').first().json.job_id }}","options":{}}},{"id":"da746d76-fc23-453e-8fcc-71e6f5df657c","name":"Mark Failed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1440,100],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.tasks SET status = CASE WHEN attempts >= 3 THEN 'failed' ELSE 'pending' END, last_error = LEFT('{{ $json.error.replace(\"'\", \"''\") }}', 500) WHERE id = {{ $json.task_id }}","options":{}}},{"id":"7391db61-06f6-411d-8bc8-ba0abf94ec3e","name":"Stats Fail","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,100],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.jobs j SET\n  completed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='completed'),\n  failed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed'),\n  status = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0\n      AND (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed')>0 THEN 'failed'\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN 'completed'\n    ELSE 'running'\n  END,\n  started_at = COALESCE(j.started_at, NOW()),\n  completed_at = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN NOW()\n    ELSE NULL END\nWHERE j.id = {{ $('Lock Task').first().json.job_id }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"Lock Task","type":"main","index":0}]]},"Lock Task":{"main":[[{"node":"Has Task","type":"main","index":0}]]},"Has Task":{"main":[[{"node":"Call SERP","type":"main","index":0}],[]]},"Call SERP":{"main":[[{"node":"Parse Result","type":"main","index":0}]]},"Parse Result":{"main":[[{"node":"OK or Error","type":"main","index":0}]]},"OK or Error":{"main":[[{"node":"Build SQLs","type":"main","index":0}],[{"node":"Mark Failed","type":"main","index":0}]]},"Build SQLs":{"main":[[{"node":"Ins Organic","type":"main","index":0},{"node":"Ins PAA","type":"main","index":0},{"node":"Ins Related","type":"main","index":0}]]},"Ins Organic":{"main":[[{"node":"Mark Done","type":"main","index":0}]]},"Ins PAA":{"main":[[{"node":"Mark Done","type":"main","index":1}]]},"Ins Related":{"main":[[{"node":"Mark Done","type":"main","index":2}]]},"Mark Done":{"main":[[{"node":"Stats OK","type":"main","index":0}]]},"Stats OK":{"main":[[]]},"Mark Failed":{"main":[[{"node":"Stats Fail","type":"main","index":0}]]},"Stats Fail":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"dcfae976-4f52-4437-981e-51e257c23137","activeVersionId":"dcfae976-4f52-4437-981e-51e257c23137","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T07:19:40.103Z","createdAt":"2026-03-04T07:19:40.103Z","role":"workflow:owner","workflowId":"jxu27Vsk85uAuMVH","projectId":"s2zyPGgXOuJv1Eci","project":{"updatedAt":"2025-10-14T15:33:51.020Z","createdAt":"2025-10-14T15:30:12.192Z","id":"s2zyPGgXOuJv1Eci","name":"Adam schlesien <adamschlesien@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"04a9ce56-328e-4464-a249-dfc71d9b46e2","projectRelations":[{"updatedAt":"2025-10-14T15:30:12.192Z","createdAt":"2025-10-14T15:30:12.192Z","userId":"04a9ce56-328e-4464-a249-dfc71d9b46e2","projectId":"s2zyPGgXOuJv1Eci","user":{"updatedAt":"2026-03-07T19:58:28.980Z","createdAt":"2025-10-14T15:30:10.793Z","id":"04a9ce56-328e-4464-a249-dfc71d9b46e2","email":"adamschlesien@gmail.com","firstName":"Adam","lastName":"schlesien","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-14T15:34:38.247Z","personalization_survey_n8n_version":"1.115.2","companySize":"<20","companyType":"digital-agency","automationGoalSm":["lead-generation","customer-communication","ad-campaign","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"twitter"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"gygXHcbW1QwGEbCF","userActivatedAt":1760469728899,"npsSurvey":{"responded":true,"lastShownAt":1760732140903},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T22:41:32.673Z","createdAt":"2026-03-04T22:41:32.673Z","versionId":"dcfae976-4f52-4437-981e-51e257c23137","workflowId":"jxu27Vsk85uAuMVH","nodes":[{"id":"cdf2d771-fc13-432f-91b9-ca83faf288bc","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":30}]}}},{"id":"376dd1b6-f4c3-4026-9c6e-60a56f63b70c","name":"Lock Task","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.tasks t\nSET status = 'running', attempts = attempts + 1\nWHERE id = (\n  SELECT t2.id FROM seo_kws.tasks t2\n  JOIN seo_kws.jobs j ON j.id = t2.job_id\n  WHERE t2.status = 'pending' AND t2.attempts < 3 AND j.status != 'paused'\n  ORDER BY t2.id LIMIT 1\n)\nRETURNING t.id, t.keyword, t.job_id, t.attempts,\n  (SELECT lang FROM seo_kws.jobs WHERE id = t.job_id) as lang,\n  (SELECT country FROM seo_kws.jobs WHERE id = t.job_id) as country,\n  (SELECT num_results FROM seo_kws.jobs WHERE id = t.job_id) as num_results,\n  (SELECT client_id FROM seo_kws.jobs WHERE id = t.job_id) as client_id","options":{}}},{"id":"7c1814c8-1c9e-4a6a-ad7c-a5bbd64f1948","name":"Has Task","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"a15c7469-49f9-4037-a232-cc65e007f26d","name":"Call SERP","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-100],"parameters":{"jsCode":"const task = $('Lock Task').first().json;\nconst engines = ['google', 'bing', 'duckduckgo', 'brave'];\nlet finalResult = null;\nlet usedEngine = null;\n\nfor (const engine of engines) {\n  try {\n    const response = await $helpers.httpRequest({\n      method: 'GET',\n      url: 'http://searxng:8080/search',\n      qs: {\n        q: task.keyword,\n        format: 'json',\n        engines: engine,\n        language: task.lang || 'cs-CZ'\n      },\n      timeout: 10000,\n      json: true\n    });\n    \n    if (response && Array.isArray(response.results) && response.results.length > 0) {\n      finalResult = response;\n      usedEngine = engine;\n      break;\n    }\n  } catch (error) {\n    console.log(`Engine ${engine} failed:`, error.message);\n  }\n}\n\nif (!finalResult) {\n  return [{ json: { error: 'All engines failed or returned empty results', results: [] } }];\n}\nfinalResult.used_engine = usedEngine;\nreturn [{ json: finalResult }];"}},{"id":"21f5acaf-ff19-420e-81d2-031860e7dd3c","name":"Parse Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-100],"parameters":{"jsCode":"// Parsujeme json odpověď od SearxNG\nconst r = $input.first().json;\nconst task = $('Lock Task').first().json;\n\n// Ujistíme se testem, že searxNG našel výsledky bez chyby\nconst ok = Array.isArray(r.results) && r.results.length > 0;\n\nconst esc = v => v == null ? null : String(v).replace(/'/g, \"''\").substring(0, 500);\nconst escUrl = v => v == null ? null : String(v).replace(/'/g, \"''\").substring(0, 2000);\n\n// Iterujeme přes pole results přicházejících ze SearxNG\nconst organic = ok ? r.results.map((o, index) => ({\n  ...task, \n  position: index + 1, \n  title: esc(o.title), \n  description: String(o.content||'').replace(/'/g,\"''\").substring(0,1000), \n  url: escUrl(o.url)\n})) : [];\n\n// PAA nebývá v SearxNG JSON odpovědích snadno generováno z Googlu (často null).\nconst paa = []; \n// Related / Návrhy SearxNG ale umí napojit z pole suggestions\nconst related = ok ? (r.suggestions||[]).map((s, i) => ({\n  ...task, position: i+1, query: esc(s)\n})) : [];\n\n// Zpráva chyby, pokud Google neodpověděl jak měl \nconst errMsg = ok ? null : (r.unresponsive_engines && r.unresponsive_engines.length > 0 ? \"Všechny enginy selhaly\" : (r.error || \"empty results\"));\nconst used_engine = r.used_engine || null;\n\nreturn [{\n  json: {\n    task_id: task.id, job_id: task.job_id, client_id: task.client_id,\n    keyword: task.keyword, attempts: task.attempts,\n    is_success: ok, error: errMsg,\n    engine: used_engine,\n    organic, paa, related\n  }\n}];"}},{"id":"19c8a81f-cd13-414d-a195-577a799d13f6","name":"OK or Error","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,-100],"parameters":{"mode":"expression","output":"={{ $json.is_success ? 0 : 1 }}","options":{}}},{"id":"57b7e8e4-17ed-406a-ab06-7ad4c84c28dc","name":"Build SQLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-250],"parameters":{"jsCode":"const d = $input.first().json;\nconst esc = v => v == null ? 'NULL' : `'${v}'`;\nlet oSql = 'SELECT 1';\nif (d.organic && d.organic.length > 0) {\n  const v = d.organic.map(r => `(${r.id},${r.job_id},${r.client_id||'NULL'},${esc(r.keyword)},${r.position},${esc(r.title)},${esc(r.description)},${esc(r.url)},${esc(d.engine)},NOW())`).join(',');\n  oSql = `INSERT INTO seo_kws.serp_organic (task_id,job_id,client_id,keyword,position,title,description,url,engine,scraped_at) VALUES ${v}`;\n}\nlet pSql = 'SELECT 1';\nif (d.paa && d.paa.length > 0) {\n  const v = d.paa.map(r => `(${r.id},${r.job_id},${r.client_id||'NULL'},${esc(r.keyword)},${r.position},${esc(r.question)},${esc(d.engine)},NOW())`).join(',');\n  pSql = `INSERT INTO seo_kws.serp_paa (task_id,job_id,client_id,keyword,position,question,engine,scraped_at) VALUES ${v}`;\n}\nlet rSql = 'SELECT 1';\nif (d.related && d.related.length > 0) {\n  const v = d.related.map(r => `(${r.id},${r.job_id},${r.client_id||'NULL'},${esc(r.keyword)},${r.position},${esc(r.query)},${esc(d.engine)},NOW())`).join(',');\n  rSql = `INSERT INTO seo_kws.serp_related (task_id,job_id,client_id,keyword,position,query,engine,scraped_at) VALUES ${v}`;\n}\nreturn [{json: {...d, o_sql:oSql, p_sql:pSql, r_sql:rSql}}];"}},{"id":"8c93ba1f-de47-44df-879f-8f737c13a307","name":"Ins Organic","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-350],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"={{ $json.o_sql }}","options":{}}},{"id":"7b6dfe08-d936-4658-a754-f2a7afc89f4b","name":"Ins PAA","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-200],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"={{ $json.p_sql }}","options":{}}},{"id":"5bec9847-14a0-44d3-8ee5-6b587af4bd21","name":"Ins Related","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-50],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"={{ $json.r_sql }}","options":{}}},{"id":"00549092-106e-49b9-aad6-84bffcd6437a","name":"Mark Done","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,-200],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.tasks SET status = 'completed', scraped_at = NOW() WHERE id = {{ $('Build SQLs').first().json.task_id }}","options":{}}},{"id":"3f40210a-e548-4b05-884b-bb5dd8b78361","name":"Stats OK","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,-200],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.jobs j SET\n  completed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='completed'),\n  failed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed'),\n  status = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0\n      AND (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed')>0 THEN 'failed'\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN 'completed'\n    ELSE 'running'\n  END,\n  started_at = COALESCE(j.started_at, NOW()),\n  completed_at = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN NOW()\n    ELSE NULL END\nWHERE j.id = {{ $('Lock Task').first().json.job_id }}","options":{}}},{"id":"da746d76-fc23-453e-8fcc-71e6f5df657c","name":"Mark Failed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1440,100],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.tasks SET status = CASE WHEN attempts >= 3 THEN 'failed' ELSE 'pending' END, last_error = LEFT('{{ $json.error.replace(\"'\", \"''\") }}', 500) WHERE id = {{ $json.task_id }}","options":{}}},{"id":"7391db61-06f6-411d-8bc8-ba0abf94ec3e","name":"Stats Fail","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,100],"credentials":{"postgres":{"id":"LDFzfYG40t54QkMD","name":"Postgres n8n (seo_kws)"}},"parameters":{"operation":"executeQuery","query":"UPDATE seo_kws.jobs j SET\n  completed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='completed'),\n  failed_keywords = (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed'),\n  status = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0\n      AND (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status='failed')>0 THEN 'failed'\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN 'completed'\n    ELSE 'running'\n  END,\n  started_at = COALESCE(j.started_at, NOW()),\n  completed_at = CASE\n    WHEN (SELECT COUNT(*) FROM seo_kws.tasks WHERE job_id=j.id AND status IN ('pending','running'))=0 THEN NOW()\n    ELSE NULL END\nWHERE j.id = {{ $('Lock Task').first().json.job_id }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"Lock Task","type":"main","index":0}]]},"Lock Task":{"main":[[{"node":"Has Task","type":"main","index":0}]]},"Has Task":{"main":[[{"node":"Call SERP","type":"main","index":0}],[]]},"Call SERP":{"main":[[{"node":"Parse Result","type":"main","index":0}]]},"Parse Result":{"main":[[{"node":"OK or Error","type":"main","index":0}]]},"OK or Error":{"main":[[{"node":"Build SQLs","type":"main","index":0}],[{"node":"Mark Failed","type":"main","index":0}]]},"Build SQLs":{"main":[[{"node":"Ins Organic","type":"main","index":0},{"node":"Ins PAA","type":"main","index":0},{"node":"Ins Related","type":"main","index":0}]]},"Ins Organic":{"main":[[{"node":"Mark Done","type":"main","index":0}]]},"Ins PAA":{"main":[[{"node":"Mark Done","type":"main","index":1}]]},"Ins Related":{"main":[[{"node":"Mark Done","type":"main","index":2}]]},"Mark Done":{"main":[[{"node":"Stats OK","type":"main","index":0}]]},"Stats OK":{"main":[[]]},"Mark Failed":{"main":[[{"node":"Stats Fail","type":"main","index":0}]]},"Stats Fail":{"main":[[]]}},"authors":"import","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[]}}